/*Fonts*/
@font-face {
    font-family: "Satoshi-Regular";
    src: url('../fonts/Satoshi-Regular.ttf');
}
@font-face {
    font-family: "Satoshi-Medium";
    src: url('../fonts/Satoshi-Medium.ttf') format('truetype');
}
@font-face {
    font-family: "Satoshi-Bold";
    src: url('../fonts/Satoshi-Bold.ttf') format('truetype');
}
@font-face {
    font-family: "Satoshi-Black";
    src: url('../fonts/Satoshi-Black.ttf') format('truetype');
}

/* Global Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body {
    font-family: "Satoshi-Regular";
    line-height: 1.6;
    background-color: #f4f4f4;
}

/* Header */
header {
    background-color: #ffcc00;
    padding: 8px 0;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 0 20px;
}

.logo img {
    height: 60px;
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin: 0 20px;
}

nav ul li a {
    text-decoration: none;
    text-transform: uppercase;
    color: #000000;
    font-family: "Satoshi-Medium";
    font-size: 18px;
}

.icons {
    display: flex;
    gap: 20px;
    margin-right: 20px;
}

.icons .icon {
    width: 24px;
    height: 24px;
    cursor: pointer;
}

/*Main Section*/
.main-container{
    position: relative;
    display: inline-block;
    text-align: center;
}
.main-container img {
    width: 100%;
    height: auto;
}
.main-text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.main-text h1{
    font-family: "Satoshi-Bold";
    font-size: 70px;
    color: #000000;
    text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.5);
    line-height: 1.1;
}
.main-text p{
    font-size: 20px;
    color: #000000;
    text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.5);
    line-height: 1.5;
}

.history-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.history-container img{
    width: 40%;
    height: auto;
}

.history-container .history-text{
    margin-left: 30px;
    margin-right: 30px;
    width: 60%;
    text-align: left;
}

.history-container .history-text h1{
    margin-bottom: 15px;
    font-family: "Satoshi-Bold";
    font-size: 40px;
    color: #000000;
    text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.5);
    line-height: 1.1;
}

.history-container .history-text p{
    font-size: 18px;
    color: #000000;
    text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.5);
    line-height: 1.5;
}

.country-text{
    margin-top: 50px;
    text-align: center;
}
.country-text h2{
    font-family: "Satoshi-Bold";
    font-size: 50px;
    color: #000000;
    text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.5);
    line-height: 1.1;
}

.country-ph{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.country-ph img{
    width: 1200px;
    height: auto;
}

/* Footer */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    margin-top: 40px;
}

footer p {
    margin: 0;
}